.App{
  border: 1px solid #D6D6D6;
  border-radius: 5px;
  background-color: #D6D6D6;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 100px;
}

.prf {
  text-align: center;
  margin-top: 30px;
}


img{
  width: 150px;
  border-radius: 40px;
}


.Tlt {
 text-align: center;
 width: auto;
 padding-left: 10%;
 padding-right: 10%;
}

.adr{
  margin: auto;
  width: 40%;
  text-align: center;
}

.btn{
  padding: 10px 10px 10px 10px;
  background-color: #0a66c2;
  border: 1px solid #D6D6D6;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
